$white: #fff;
$dark-blue: #27286C;

/*PEN STYLES*/
$dark: #292938;
$light: #efefef;
$white: #efefef;
$black: #1a1b18;
$color1: #3C91E6;
$color2: #DE541E;


$color-text: #000;
$color-link: $dark-blue;
$color-link-hover: red;